In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
books_df = pd.read_csv('Datasets/Book recommendation chatbot/Books.csv')
ratings_df = pd.read_csv('Datasets/Book recommendation chatbot/Ratings.csv')
users_df = pd.read_csv('Datasets/Book recommendation chatbot/Users.csv')

C:\Users\Palak\AppData\Local\Temp\ipykernel_1884\2959857750.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv('Datasets/Book recommendation chatbot/Books.csv')

In [3]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
books_df.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
users_df.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
import numpy as np

In [9]:
imputer = SimpleImputer(strategy = 'median')

In [10]:
users_df['age'] = imputer.fit_transform(users_df[['Age']])

In [11]:
users_df.isna().sum()

User-ID          0
Location         0
Age         110762
age              0
dtype: int64

In [12]:
ratings_df.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [13]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [15]:
label_encoders = {}
for column in ['ISBN']:
    le = LabelEncoder()
    ratings_df[column] = le.fit_transform(ratings_df[column])
    books_df[column] = le.fit_transform(books_df[column])
    label_encoders[column] = le

In [16]:
scaler = StandardScaler()
users_df['Age'] = scaler.fit_transform(users_df[['Age']])

In [17]:
books_df['Book-Author'].fillna('Unknown Author', inplace=True)
books_df['Publisher'].fillna('Unknown Publisher', inplace=True)

In [18]:
merged_df = pd.merge(pd.merge(ratings_df, books_df, on = 'ISBN'), users_df, on = 'User-ID')

In [19]:
merged_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age,age
0,276725,57188,0,Dangerous Interloper (Harlequin Collector's Ed...,Penny Jordan,1997,Harlequin,http://images.amazon.com/images/P/0373630727.0...,http://images.amazon.com/images/P/0373630727.0...,http://images.amazon.com/images/P/0373630727.0...,"tyler, texas, usa",NaN,32.0
1,2313,57188,5,Dangerous Interloper (Harlequin Collector's Ed...,Penny Jordan,1997,Harlequin,http://images.amazon.com/images/P/0373630727.0...,http://images.amazon.com/images/P/0373630727.0...,http://images.amazon.com/images/P/0373630727.0...,"cincinnati, ohio, usa",-0.814485,23.0
2,2313,208821,9,Loving God,Charles Colson,1995,Billy Graham Evangelistic Association,http://images.amazon.com/images/P/0913367494.0...,http://images.amazon.com/images/P/0913367494.0...,http://images.amazon.com/images/P/0913367494.0...,"cincinnati, ohio, usa",-0.814485,23.0
3,2313,166104,8,The 85 Ways to Tie a Tie: The Science and Aest...,Thomas Fink,2000,Broadway Books,http://images.amazon.com/images/P/0767906438.0...,http://images.amazon.com/images/P/0767906438.0...,http://images.amazon.com/images/P/0767906438.0...,"cincinnati, ohio, usa",-0.814485,23.0
4,2313,6338,9,The Sacred Journey : A Memoir of Early Days,Frederick Buechner,1991,HarperSanFrancisco,http://images.amazon.com/images/P/0060611839.0...,http://images.amazon.com/images/P/0060611839.0...,http://images.amazon.com/images/P/0060611839.0...,"cincinnati, ohio, usa",-0.814485,23.0

In [20]:
merged_df.isna().sum()

User-ID                     0
ISBN                        0
Book-Rating                 0
Book-Title                  0
Book-Author                 0
Year-Of-Publication         0
Publisher                   0
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 3
Location                    0
Age                    281885
age                         0
dtype: int64

In [21]:
merged_df.drop(columns = ['Age','Image-URL-L', 'Image-URL-M' ,'Image-URL-S', 'Location'], inplace = True)

In [22]:
merged_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,age
0,276725,57188,0,Dangerous Interloper (Harlequin Collector's Ed...,Penny Jordan,1997,Harlequin,32.0
1,2313,57188,5,Dangerous Interloper (Harlequin Collector's Ed...,Penny Jordan,1997,Harlequin,23.0
2,2313,208821,9,Loving God,Charles Colson,1995,Billy Graham Evangelistic Association,23.0
3,2313,166104,8,The 85 Ways to Tie a Tie: The Science and Aest...,Thomas Fink,2000,Broadway Books,23.0
4,2313,6338,9,The Sacred Journey : A Memoir of Early Days,Frederick Buechner,1991,HarperSanFrancisco,23.0

In [23]:
# Frequency Encoding
user_freq = merged_df['User-ID'].value_counts().to_dict()
isbn_freq = merged_df['ISBN'].value_counts().to_dict()

merged_df['User-ID'] = merged_df['User-ID'].map(user_freq)
merged_df['ISBN'] = merged_df['ISBN'].map(isbn_freq)

In [24]:
merged_df['User-ID'] = merged_df['User-ID'].astype('int32')
merged_df['ISBN'] = merged_df['ISBN'].astype('object')
merged_df['Book-Rating'] = merged_df['Book-Rating'].astype('float32')
merged_df['age'] = pd.to_numeric(merged_df['age'], errors='coerce').astype('float32')

In [25]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031162 entries, 0 to 1031161
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031162 non-null  int32
 1   ISBN                 1031162 non-null  object
 2   Book-Rating          1031162 non-null  float32
 3   Book-Title           1031162 non-null  object
 4   Book-Author          1031162 non-null  object
 5   Year-Of-Publication  1031162 non-null  object
 6   Publisher            1031162 non-null  object
 7   age                  1031162 non-null  float32
dtypes: float32(2), int32(1), object(5)
memory usage: 51.1+ MB

In [27]:
print(merged_df.head())

   User-ID ISBN  Book-Rating  \
0        1   60          0.0
1       37   60          5.0
2       37   23          9.0
3       37   55          8.0
4       37  130          9.0

                                          Book-Title         Book-Author  \
0  Dangerous Interloper (Harlequin Collector's Ed...        Penny Jordan
1  Dangerous Interloper (Harlequin Collector's Ed...        Penny Jordan
2                                         Loving God      Charles Colson
3  The 85 Ways to Tie a Tie: The Science and Aest...         Thomas Fink
4        The Sacred Journey : A Memoir of Early Days  Frederick Buechner

  Year-Of-Publication                              Publisher   age
0                1997                              Harlequin  32.0
1                1997                              Harlequin  23.0
2                1995  Billy Graham Evangelistic Association  23.0
3                2000                         Broadway Books  23.0
4                1991                     HarperSanFrancisco  23.0

In [28]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031162 entries, 0 to 1031161
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031162 non-null  int32
 1   ISBN                 1031162 non-null  object
 2   Book-Rating          1031162 non-null  float32
 3   Book-Title           1031162 non-null  object
 4   Book-Author          1031162 non-null  object
 5   Year-Of-Publication  1031162 non-null  object
 6   Publisher            1031162 non-null  object
 7   age                  1031162 non-null  float32
dtypes: float32(2), int32(1), object(5)
memory usage: 51.1+ MB

In [32]:
def safe_convert_year(df, column):
    df[column] = pd.to_numeric(df[column], errors='coerce')
    df[column].fillna(0, inplace=True)
    df[column] = df[column].astype(int)

safe_convert_year(merged_df, 'Year-Of-Publication')

In [33]:
def normalize_rating(rating):
    normalized = int(rating // 2)
    return min(max(normalized, 0), 4)  # Ensure normalized rating is within [0, 4]

In [36]:
merged_df['Book-Rating'] = merged_df['Book-Rating'].apply(normalize_rating)

In [37]:
assert merged_df['Book-Rating'].between(0, 4).all(), "All labels should be in the range [0, 4]"

In [38]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031162 entries, 0 to 1031161
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031162 non-null  int32
 1   ISBN                 1031162 non-null  object
 2   Book-Rating          1031162 non-null  int64
 3   Book-Title           1031162 non-null  object
 4   Book-Author          1031162 non-null  object
 5   Year-Of-Publication  1031162 non-null  int32
 6   Publisher            1031162 non-null  object
 7   age                  1031162 non-null  float32
dtypes: float32(1), int32(2), int64(1), object(4)
memory usage: 51.1+ MB

In [39]:
merged_df.to_csv('Datasets/Book recommendation chatbot/Train.csv', index=False)